.main{

}
.btn{
    /*-fx-background-color: black;*/
}
.LoginForm{
    -fx-pref-height: 400;
    -fx-pref-width: 300;
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-padding: 20;

}
.loginLable{
    -fx-font-size: 32;
    -fx-font-weight: bold;
}
.textInput{
    /*-fx-pref-width: 100;*/
    -fx-pref-height: 30;
    -fx-margin:10;
    /*-fx-background-color: red;*/

}
.inputContainer{
    -fx-pref-width: 100;
    -fx-pref-height: 400;
}
.textInput:focused{
    /*-fx-scale-shape: 1.2;*/
}
@keyframes backgroundL {
    0%{
        -fx-background-color: red;
        /*-fx-background-color: ;*/
    }
    100%{
        -fx-background-color: rgba(165, 200, 253, 0.54);

    }
}